.video-wrapper {
    height: 100%; 
    width: 100%; 
    position: relative; 
    z-index: 5; 
    margin: auto;
  }
  .fullscreen-video {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
  }